.containner {
  max-width: 900px;
  margin: auto;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
}


.nav {
  position: relative;
  padding: 20px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 99;
  background-color: var(--White);
}

.logo{
  flex-grow: 5;
}

.links{
  display: none;
}

.avatar{
  padding: 3px;
  display: flex;
  border-radius: 50%;
}
.cart{
  position: relative;
}
.cart>div{
  background-color: var(--Orange);
  position: absolute;
  color: var(--White);
  top:-3px;
  right:-3px;
  z-index: 199;
  padding: 0px 5px;
  font-size: 0.5rem;
  font-weight: bold;
  border-radius: 5px;
}

.cart:hover{
  cursor: pointer;
}

.avatar:hover{
  padding: 0px;
  cursor: pointer;
  border: 3px solid var(--Orange);
}

.menuCard{

padding-top: 20px;
width: 60%;
background-color: var(--White);
height: 100vh;
}

.menuLinks{
  padding: 0px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  font-size: 0.9rem;
  font-weight: bold;
}
.hidecartCard{
  display: none;
}

.cartCard{
  background-color: var(--White);
  position: absolute;
  top: 80px;
  right: 0px;
  border-radius: 15px;
  margin: 10px;
  width: calc(100vw - 35px);
  box-shadow: 0px 20px 20px var(--Black-25);
  
}
.cartTitle{
  padding: 20px;
  border-bottom: 2px solid var(--Light-grayish-blue);
  font-weight: bold;
}
.cartBody{
  display: flex;
  padding: 20px;
  color: var(--Dark-grayish-blue);
  font-weight: bold;
}

.item{
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  color: var(--Grayish-blue);
  gap: 10px;
  align-items: center;
}
.img{
  width: 40px;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
}

.info{
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  gap: 3px;
  flex-grow: 5;
  
}

.del{
  scale: 0.7;
  cursor: pointer;
}
.btn{
  border-radius: 5px;
  background-color: var(--Orange);
  color: var(--White);
  width: 100%;
  padding: 10px 0px;
  border: none;
  margin-top: 10px;
}

.sum{
  padding-left: 5px;
  color: var(--Dark-grayish-blue);
}

.default{
  width: 100%;
  text-align: center;
  padding: 42px 0px;
}


@media (min-width:768px){
  .containner{
  padding: 0 2rem;

  }
  .nav{
    position: relative;
    border-bottom: 2px solid var(--Light-grayish-blue);
    padding-bottom: 0px;
    align-items: flex-start;

  }
.menu{
  display: none;
}
.logo{
  flex-grow: 0;
}
.links{
  display: flex;
  margin: 0px;
  align-items: center;
  flex-grow: 5;
  gap: 20px;
  list-style: none;
  color: var(--Dark-grayish-blue);

}
.links>li{
  padding-bottom: 35px;
}
.links>li:hover{
  cursor: pointer;
  padding-bottom: 33px;
  border-bottom: 2px solid var(--Orange);

}

.cart{
  padding-top: 8px;
}

.cartCard{
  top: 80px;
  right: 0px;
  border-radius: 15px;
  width: 300px;
  
}

.cartBody{
  padding: 10px;
}

.item{
  flex-wrap: wrap;
}
.cart>div{
  top:5px;
  right:-3px;
}
}



/* .logo {
  height: 1em;
  margin-left: 0.5rem;
} */

/* @media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
} */

/* @media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
} */
